In [1]:
import pandas as pd
import numpy as np

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
netflix= pd.read_csv("netflix_titles.csv")
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [3]:
filledna=netflix.fillna('')
filledna.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...

In [29]:
movies = data[data['type'] == 'Movie'].reset_index()
movies = movies.drop(['index', 'show_id', 'type', 'date_added', 'release_year', 'duration'], axis=1)

movies.head()

,title,director,cast,country,rating,listed_in,description
0,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,TV-MA,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
1,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,R,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
2,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,PG-13,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
3,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,PG-13,Dramas,A brilliant group of students become card-coun...
4,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,TV-MA,"Horror Movies, International Movies","After an awful accident, a couple admitted to ..."

In [30]:
tv = data[data['type'] == 'TV Show'].reset_index()
tv = tv.drop(['index', 'show_id', 'type', 'date_added', 'release_year', 'duration'], axis=1)

tv.head()
for i,row in tv.iterrows():

,title,director,cast,country,rating,listed_in,description
0,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,TV-MA,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
1,7 (Seven),Nizar Shafi,"Rahman, Havish, Regina Cassandra, Nandita Swet...",India,TV-14,TV Shows,Multiple women report their husbands as missin...
2,A Queen Is Born,Carla Barros,"Gloria Groove, Alexia Twister",Brazil,TV-14,"International TV Shows, Reality TV",Gloria Groove and Alexia Twister make drag dre...
3,A.I.C.O.,Kazuya Murata,"Haruka Shiraishi, Yusuke Kobayashi, Makoto Fur...",Japan,TV-14,"Anime Series, International TV Shows",Everything Aiko knew was a lie. Now she's join...
4,Abby Hatcher,Kyran Kelly,"Macy Drouin, Wyatt White, Paul Sun-Hyung Lee, ...","United States, Canada",TV-Y,Kids' TV,A big-hearted girl helps her Fuzzly friends wh...

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
def clean_data(x):
        return str.lower(x.replace(" ", ""))
def create_soup(x):
    return x['title']+ ' ' + x['director'] + ' ' + x['cast'] + ' ' +x['listed_in']+' '+ x['description']

In [5]:
features=['title','director','cast','listed_in','description']
filledna=filledna[features]

In [6]:
for feature in features:
    filledna[feature] = filledna[feature].apply(clean_data)
    
filledna.head(2)

,title,director,cast,listed_in,description
0,3%,,"joãomiguel,biancacomparato,michelgomes,rodolfo...","internationaltvshows,tvdramas,tvsci-fi&fantasy",inafuturewheretheeliteinhabitanislandparadisef...
1,7:19,jorgemichelgrau,"demiánbichir,héctorbonilla,oscarserrano,azalia...","dramas,internationalmovies","afteradevastatingearthquakehitsmexicocity,trap..."

In [7]:
filledna['soup'] = filledna.apply(create_soup, axis=1)
filledna.head(2)

,title,director,cast,listed_in,description,soup
0,3%,,"joãomiguel,biancacomparato,michelgomes,rodolfo...","internationaltvshows,tvdramas,tvsci-fi&fantasy",inafuturewheretheeliteinhabitanislandparadisef...,"3% joãomiguel,biancacomparato,michelgomes,rod..."
1,7:19,jorgemichelgrau,"demiánbichir,héctorbonilla,oscarserrano,azalia...","dramas,internationalmovies","afteradevastatingearthquakehitsmexicocity,trap...","7:19 jorgemichelgrau demiánbichir,héctorbonill..."

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
from annoy import AnnoyIndex

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(filledna['soup'])
count_matrix=count_matrix.toarray()

In [19]:
filledna=filledna.reset_index()
indices = pd.Series(filledna.index, index=filledna['title'])

In [55]:
print(count_matrix[2])

[0 0 0 ... 0 0 0]

In [28]:
f= len(count_matrix)
print(f)
t = AnnoyIndex(68313, 'angular')
for i in range(f):
    t.add_item(i,count_matrix[i])
t.build(50,n_jobs=-1)
t.save('annoy.ann')
print("done")

7787
done

In [52]:
def get_recommendations_new(title):
    
    title=title.replace(' ','').lower()
    idx = indices[title]
    print(idx)
    # Get the pairwsie similarity scores of all movies with that movie
    u = AnnoyIndex(68313, 'angular')
    u.load('annoy.ann') # super fast, will just mmap the file
    similar=u.get_nns_by_item(idx, 10)
    return netflix['title'].iloc[similar]

In [53]:
print(get_recommendations_new("PK"))

4872
4872                              PK
371     Alarmoty in the Land of Fire
5386                    Santo Cachón
2571                          Haapus
6596            The Light of My Eyes
52              100 Days Of Solitude
208                 A new Capitalism
311                           Adhugo
328                   After the Raid
955             Black Man White Skin
Name: title, dtype: object